@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
}
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #05264E;
    --color-secondary: #3C65F5;
    --color-base-100: #FFFFFF;
    --color-base-300: #E7E7E7;
    --color-accent: ##F9FAFF;
  }
/* @plugin "daisyui/theme" {
    name: "dark";
    default: true;
    --color-primary: #3C65F5;
    --color-secondary: #05264E;
    --color-base-100: #05264E;
    --color-base-300: #E7E7E7;
    --color-accent: ##f8faff;
  } */

  * {
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  a.active {
    @apply bg-base-300;
  }